MYSQL_ADMIN_USERNAME=my_admin
MYSQL_ADMIN_PASSWORD=my_admpwd
MYSQL_ROOT_PASSWORD=my_rootpwd
WP_DATABASE_NAME=wordpress
WP_DB_USERNAME=my_dbuser
WP_DB_PASSWORD=my_dbuserpwd
WP_SITE_TITLE=Sample
WP_SITE_ADMIN_USERNAME=my_user
WP_SITE_ADMIN_PASSWORD=my_userpwd
WP_SITE_ADMIN_EMAIL=my_email@somewhere.nice
