MYSQL_ADMIN_USERNAME=my_admin
MYSQL_ADMIN_PASSWORD=my_admpwd
MYSQL_ROOT_PASSWORD=my_rootpwd
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=my_dbuser
WORDPRESS_DB_PASSWORD=my_dbuserpwd
WP_SITE_TITLE=Sample
WP_SITE_ADMIN_USERNAME=my_user
WP_SITE_ADMIN_PASSWORD=my_userpwd
WP_SITE_ADMIN_EMAIL=my_email@somewhere.nice
